.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  text-align: center;
  justify-content: center;
}
body{
  background-color:  rgb(13, 89, 196);
}
.calculator{
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgb(255, 255, 255);
}
.display{
  padding: 16px;
  text-align: right;
  background-color: black;
  color: white;
  font-size: 25px;
  font-weight: 300;
}
.display span{
  font-size: 14px;
  color: rgb(252, 252, 252);
}
button{
  appearance: none;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
  font-size: 30px;
}
button:hover{
  opacity: 0.9;
}
.operator{
  display: flex;
}
.operator button{ 
  flex:1 1 0%;
  font-weight: 700;
  background-color: rgb(221, 255, 0);
}
.digits{
  display: flex;
  flex-wrap: wrap;
}
.digits button{
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background-color: grey;
}